################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/devmark-dotnet/v16/Server/sqlite3
